{% extends "blog/Base.html" %}

{% block content %}
<div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
           			 
      {% for media in medias %}
         

      <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="{% url "blog.views.return_videos" url=media.slug  %}"><img src="/media/{{ media.image }}" style="width:100px;height:100px" class="img-circle">
               <h3>{{ media.name }}</h3>
              </a>
            </div>
          </div>
          <hr>
          
          {% endfor %}
          
        
          
        </div>
      </div>
                                                                                       
 
   	</div><!--/col-12-->
  </div>
  {% endblock %}