{% extends "blog/Base.html" %}

{% block content %}
<div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
           			 

		  <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="/media/{{ post.image }}" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>{{ post.name }}</h3>
              <div class="row">
                <div class="col-xs-11">
                  {{ post.full_text|linebreaks }}
                  
                  <p class="pull-right"><span class="label label-default">{{ post.metakey }}</span> <span class="label label-default">{{ post.tags }}</span> <span class="label label-default">post</span></p>
                  <ul class="list-inline"><li><a href="#">{{ post.date }}</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> {{ post.comments_count }} Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> {{ post.count_view }} Shares</a></li></ul>
                  </div>
                <div class="col-xs-1"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
               
		  
          <!--/stories-->
          
          
          <a href="{% url "blog.views.category_detail" url=post.category.slug %}" class="btn btn-primary pull-right btnNext">Еще о {{post.category.name}} <i class="glyphicon glyphicon-chevron-right"></i></a>
        
          
        </div>
      </div>
                                                                                       
	       {% for image in images %}
      <img style="width: 100px" src="/media/{{ image.image }}">
  {% endfor%}                                           
      {% for video in videos %}               
<div>
<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640" height="264"
      poster="/media/{{video.preview}}"
      data-setup="{}">
    <source src="/media/{{video.video}}" type='video/mp4' />
   
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>

  {% endfor%} 
   	</div><!--/col-12-->
  </div>
  {% endblock %}