{% extends "blog/Base.html" %}

{% block content %}
<div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
           			 

		  <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="/media/{{ post.image }}" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>{{ post.name }}</h3>
              <div class="row">
                <div class="col-xs-11">
                  {{ post.full_text|linebreaks }}
                  <p class="lead"><button class="btn btn-default">Читать дальше</button></p>
                  <p class="pull-right"><span class="label label-default">{{ post.metakey }}</span> <span class="label label-default">{{ post.tags }}</span> <span class="label label-default">post</span></p>
                  <ul class="list-inline"><li><a href="#">{{ post.date }}</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> {{ post.comments_count }} Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> {{ post.count_view }} Shares</a></li></ul>
                  </div>
                <div class="col-xs-1"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
               
		  
          <!--/stories-->
          
          
          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
        
          
        </div>
      </div>
                                                                                       
	       {% for image in images %}
      <img style="width: 100px" src="/media/{{ image.image }}">
  {% endfor%}                                           
                                                      
   	</div><!--/col-12-->
  </div>
  {% endblock %}