{% extends "blog/Base.html" %}

{% block content %}
<div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
           			 

		  <div class="row">    
            



            
          </div>

               
		  
          <!--/stories-->
          
          

        
          
        </div>
      </div>
                                                                                       

   	</div><!--/col-12-->
  </div>
  {% endblock %}